@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");

.google-btn {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #707070;
  padding: 7px;
  width: 350px;
  margin: 10px;
  /* border-radius: 30px; */
  border: none;
  box-shadow: 0 0 0 0.9px rgb(255, 255, 255),
    0.3em 0.3em 0.3em rgba(150, 150, 150, 0.3);
  transition: all 0.5s;
}
.google-btn:hover {
  background-color: #e6e6e6;
  /* color: #1b1464; */
  color: #818181;
  box-shadow: 0 0 0 0.9px rgb(255, 255, 255),
    0.3em 0.3em 0.3em rgba(150, 150, 150, 0.3);
}

.google-btn .gIcon {
  color: #fe3060;
  margin: 0px 5px;
  font-size: 20px;
  transition: all 0.5s;
}

.google-btn:hover .gIcon {
  color: #1b1464;
}

.login-container {
  text-align: center;
  /* margin: 50px 0px; */
  margin-bottom: 0px;
}

.formContainer {
  font-family: "Poppins", sans-serif;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 70px 0px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.formContainer h5 {
  text-align: left;
  margin-left: 25px;
  margin-bottom: 20px;
}
form input {
  width: 350px;
  margin-bottom: 15px;
  padding: 5px 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
}
#submitBtn {
  border: none;
  background: #707070;
  color: white;
}
#submitBtn:hover {
  border: none;
  background: #da7b00;
  color: white;
}

.loginToggle strong {
  cursor: pointer;
  color: #da7b00;
}
.loginImg {
  width: 525px;
}

@media (max-width: 768px) {
  .loginImg {
    margin-top: 50px;
  }
  .or {
    color: #707070 !important;
  }
}
