@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.hoodieDiv {
  height: 340px;
  margin-bottom: 80px;
}
small {
  color: rgb(88, 88, 88);
  /* color: #142165; */
}
p {
  color: #fe3060;
  font-weight: 600;
}

.hoodieImg {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.hoodieImg::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.hoodieImg:hover:before {
  -webkit-animation: circle 0.75s;
  animation: circle 0.75s;
}
